<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/41e7e41392.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <section class="top-header">
            <img class="logo-mercado-liebre" src="static/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <form action="" method="POST" class="buscador">
                <input class="campo__field" type="text" placeholder="Buscar producto, marcas " id="nombre">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <p class="cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </section>

        <nav class="nav-header">
            <ul type="none">
                <li> 
                    <a href="#">Ofertas</a>
                </li>
                <li> 
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li> 
                    <a href="#">Vender</a>
                </li>
                <li> 
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul type="none">
                <li> 
                    <a href="register.html">Creá tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li> 
                    <a href="login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li> 
                    <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <section>
        <img src="static/images/img-home-banner.jpg" alt="img-home-banner-jpg">
    </section>

    <main>
        <h3 class="titulares"> Basado en tu última visita</h3>
        <section class="articulos">
            <div class="articulo">
                <img src="static/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="articulo">
                <img src="static/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </div>
            <div class="articulo">
                <img src="static/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </div>
            <div class="articulo">
                <img src="static/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </div>

        </section>

        <h3 class="titulares">Ofertas</h3>
        <section class="articulos">
            <div class="articulo">
                <img src="static/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </div>
            <div class="articulo">
                <img src="static/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>
            </div>
            <div class="articulo">
                <img src="static/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">  
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </div>
            <div class="articulo">
                <img src="static/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                <i class="fas fa-truck logo-envio"></i>
                <div class="articulo-descripcion">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripcion">SmartTv Samsung 43"</h4>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card icono1"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift icono2"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield icono3"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <div>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </div>
        
    </footer>

</body>
</html>